<?xml version="1.0" encoding="UTF-8"?>
<mp3config>
  <autostart>true</autostart>
  <shuffle>false</shuffle>
  <repeat>all</repeat>
  <volume>100</volume>
  <showdisplay>true</showdisplay>
  <showplaylist>true</showplaylist>
  <linktarget>_blank</linktarget>
  <backcolor>0x1a1a1a</backcolor>
  <frontcolor>0xdae8ff</frontcolor>
  <titlecolor>0xCD0000</titlecolor>
  <lightcolor>0xCD0000</lightcolor>
  <fontface>Tempus Sans ITC</fontface>
  <boldfont>false</boldfont>
  <scroll>true</scroll>
  <jpgfile>http://i.imgur.com/Vw92DhF.jpg</jpgfile>
  <callback/>
</mp3config>